.pageBook {
    margin-top: 25px;
    margin-left: 10px;
}
.blokStars {
    margin-bottom: 15px;
}
.panelBookInfo {
    display: inline-table;
    float: left;
    padding-right: 10px;
}
.infoBlok {
    display: table;
    padding-bottom: 10px;
}
.posterBook {
    width: 217px;
    height: 307px;
    float: left;
}
.posterBook>img {
    width: 100%;
    height: 100%;
}
.onePanelBook {
    background: rgb(33,38,50);
    *width: 420px;
    width: 260px;
	height: 307px;
    float: left;
    margin-left: 10px;
}
.bookInfoBlok {
    padding: 10px 20px 0px 20px;
}
.onePanelBook>.bookInfoBlok>.nameBook {
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    text-decoration: blink;
}
.onePanelBook>.bookInfoBlok>.nameAuthor {
    font-size: 13px;
}
.yearDivBook {
    font-size: 12px;
}
.izdatelDivBook {
    font-size: 12px;
}
.onePanelBook>.bookInfoBlok>.nameBook, .onePanelBook>.bookInfoBlok>.nameAuthor, .onePanelBook>.bookInfoBlok>.yearDivBook, .onePanelBook>.bookInfoBlok>.izdatelDivBook {
    margin-bottom: 5px;
}
.bottonPanelBookInfo {
    float: right;
    margin: 49px 10px 10px 20px;
}
.addBookButton {
    text-decoration: blink;
    font-size: 14px;
	display: table;
    margin-bottom: 10px;
}
.addBookButton:hover {
	text-decoration: underline;
}
.battonLike {
	background: rgb(123,133,152);
    width: 50px;
    height: 31px;
    display: block;
    color: rgb(33,38,50);
    float: left;
    text-decoration: blink;
    font-size: 12px;
    margin-right: 5px;
}
.battonLike>img {
    width: 17px;
    height: 17px;
    padding: 7px;
    float: left;
}
.likeImg {
    background-image: url(/assets/images/Like.png);
    background-size: 100%;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    float: left;
}
.battonLike:hover .likeImg {
	background-image: url(/assets/images/LikeWhite.png);
}
.otzivPlus {
    width: 130px;
    height: 31px;
    display: flex;
    text-decoration: blink;
    background: rgb(123,133,152);
    color: rgb(33,38,50);
}
.otzivPlus>div {
    display: inline;
}
.plusText {
    font-size: 22px;
    padding: 0 1.2px 0 10px;
}
.battonTextOtziv {
    padding: 8.3px;
    font-size: 12px;
}
.readCategorBook {
    float: left;
    margin-left: 10px;
    width: 214px;
}
/* TABS */
.twoPanelBook>.tabs {
    position: relative;
    margin: 0 auto;
	width: 614px;
  	margin-bottom: 10px;
    float: right;
}
.twoPanelBook>.tabs label {
    float: left;
    cursor: pointer;
    padding: 8px 15px 9px;
}
.twoPanelBook>.tabs input {
	position: absolute;
	left: -9999px;
}
#tab_1:checked ~ #tab_l1,
#tab_2:checked ~ #tab_l2,
#tab_3:checked ~ #tab_l3,
.twoPanelBook>.tabs>label:hover {
    background: rgb(33,38,50);
}
#tab_1:checked ~ #tab_l1,
#tab_2:checked ~ #tab_l2,
#tab_3:checked ~ #tab_l3,
#tab_4:checked ~ #tab_l4 {
    cursor: default;
}
.twoPanelBook>.tabs>.tabs_cont {
	position: relative;
	z-index: 2;
}
.twoPanelBook>.tabs>.tabs_cont > div {
	position: absolute;
	left: -9999px;
	top: 0;
	opacity: 0;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3,
#tab_4:checked ~ .tabs_cont #tab_c4 {
	position: static;
	left: 0;
	opacity: 1;
}
.twoPanelBook>.tabs>.tabs_cont {
    border-radius: 0;
}
.clearBoth {
    height: 0px;
}
.twoPanelBook>.tabs>label {
	border-radius: 0;
    font-size: 14px;
    font-weight: 400;
}
/* TABS */
/* TABS2 */
#tab2, #tab3 {
	position: fixed; 
}
/* рамка, либо полоска */
.menu1>a { 
	text-decoration: none;
    display: table-cell;
    background: rgb(33,38,50);
    border: 1px solid rgb(33,38,50);    
	*padding: 7px;
    padding: 8px 8px 3px 8px;
    border-width: 0 0 5px 0;
}
.menu1>a:hover, .activeMenu1 {
	border: 1px solid rgb(123,133,152)!important;
	border-width: 0 0 5px 0!important;
}
a.activeMenu1 {
    border-color: #646e86!important;
}
#tab2,
#tab3,
.menu1 > div,
.menu1 #tab2:target ~ div:nth-of-type(1),
.menu1 #tab3:target ~ div:nth-of-type(1) {
	display: none; 
}
.menu1 > div:nth-of-type(1),
.menu1 #tab2:target ~ div:nth-of-type(2),
.menu1 #tab3:target ~ div:nth-of-type(3) { 
	display: block;
}
/* TABS2 */
.eBookBlok, .eAuBookBlok, .bBookBlok {
    background-size: 100%;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    margin-bottom: 6px;
}
.eBookBlok {
    background-image: url(/assets/images/ipad.png);
}
.eBookText, .eAuBookText, .bBookText {
    font-size: 12px;
}
.eAuBookBlok {
    background-image: url(/assets/images/icoHePhon.png);
}
.bBookBlok {
    background-image: url(/assets/images/icoEBook.png);
}
.blokButtonRead {
    float: left;
    width: 194px;
    height: 222px;
    background: rgb(33,38,50);
    padding: 0 10px;
    display: table;
}
.blokButtonRead, .listOfReaders, .listPaperBooks {
    margin-top: 10px;
}
.commentTextReadUsers {
    font-size: 12px;
    padding: 5px 0;
    border: 1px solid rgb(123,133,152);
    border-width: 0 0 1px 0;
    margin: 10px 0px;
}
.buttonReadWhile {
    float: right;
    text-decoration: blink;
    background: rgb(123,133,152);
    color: rgb(33,38,50);
    width: 58px;
    padding: 4px 0;
    text-align: center;
    font-size: 12px;
}
.buttonReadWhile:hover, .buttonReader:hover {
    background: rgb(53,59,74);
    color: rgb(123,133,152);
}
.rightPanelInfoBook>.rightPanelBotton>div>.buttonReadWhile {
    float: none;
    margin-bottom: 5px;
    display: table;
    width: 53px;
    padding: 3px 0;
}
.numbPageRead {
    float: right;
    font-size: 13px;
    margin: 2.5px 10px 2px 0;
}
.listOfReaders {
    float: left;
    width: 214px;
    height: 222px;
    overflow: overlay;
}
.readerBlok {
	background: rgb(33,38,50);
    padding: 10px;
    font-size: 14px;
}
a.audio-comment-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 11.5px;
    padding: 4px 5px 3px 5px;
}
.readerInfo {
    display: flex;
    padding: 0 3px 3px 3px;
}
.buttonReader {
    font-size: 9.3px;
    padding: 4px 4px;
    text-decoration: blink;
    background: rgb(123,133,152);
    color: rgb(33,38,50);
}
.listPaperBooks {
    width: 194px;
    height: 202px;
    background: rgb(33,38,50);
    padding: 10px;
}
.listPaperBooks>h4 {
    font-size: 14px;
    margin: 0 0 20px 0;
    font-weight: 500;
}
.internShopBook {
    margin-bottom: 15px;
}
.internShopBook>img {
    width: 65px;
}
.spanColorPrice {
    font-size: 13px;
}
.twoPanelBook {
    float: left;
}
.element {
	overflow: hidden;
}
.rightScrollButton, .leftScrollButton {
	padding: 0;
	margin: 0;
	border: 0;
	background: rgb(123,133,152);
	position: absolute;
	top: 34px;
}
.rightScrollButton {
	right: 234px;
}
.leftScrollButton {
	right: 269px;
}
.panelScrollBookRight {
	transition: all 0.5s ease;
}
.rightPanelBooks {
    float: left;
    height: 640px;
    *width: 675px;
    width: 450px;
}
/*Вкладки*/
.notebook>input {
    display: none;
}
.notebook>input+label {
    cursor: pointer;
}
.notebook>div {
    height: 0;
	overflow: hidden;
	transition: all 0.5s ease-in-out 0.1s;
}
.notebook > input + label:not(:last-of-type) {
    border-right: none;
    /*display: block;*/
}
.notebook > input + label:last-of-type::after {
    display: block;
    width: 2000px;
    content: "";
    position: absolute;
    bottom: -1px;
    left: 100%;
}
.notebook > input:checked + label {
    border-left: #efefef;
}
.notebook > input:checked + label:last-of-type::after {
    bottom: 0px;
}
.notebook > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.notebook > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.notebook > input:nth-of-type(3):checked ~ div:nth-of-type(3),
.notebook > input:nth-of-type(4):checked ~ div:nth-of-type(4),
.notebook > input:nth-of-type(5):checked ~ div:nth-of-type(5) {
    height: 600px;
}
/*Вкладки*/
.panelScrollBookRight {
    height: inherit;
    width: 840px;
}
.recomendBook {
    *width: 215px;
    width: 205px;
    height: 288px;
    transition: all .5s ease-in-out 0.1s;
    background: rgb(33,38,50);
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
	float: left;
}
.rightPanelImgPoster {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
}
.recomendBook:hover .rightPanelImgPoster {
    left: -215px;
}
.rightPanelInfoBook {
    padding: 13px;
}
.imgRed {
	background-image: url(/assets/images/imgRed.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 30px;
    height: 0;
    float: right;
    margin-top: -13px;
    margin-left: 20px;
    transition: all 1s ease-in-out 0.1s;
}
.recomendBook:hover .imgRed {
    height: 233px;
}
.rightPanelNameBook {
    font-size: 16px;
    margin-bottom: 5px;
}
.rightPanelName {
    *font-size: 16px;
    font-size: 11px;
    margin-bottom: 20px;
}
.rightPanelDesc {
    font-size: 12px;
    margin-bottom: 20px;
    width: 70%;
}
.rightPanelBotton {
    display: table;
    margin-bottom: 10px;
}
.rightPanelBotton>div {
    float: left;
}
.rightPanelBotton>.blokAdd {
    float: right;
    display: table;
    margin-left: 20px;
}
.descText {
	background: rgb(33,38,50);
    width: 671px;
    padding: 20px;
    text-align: justify;
    *font-size: 12px;
    font-size: 14px;
}
.battonLike>div {
    margin: 7.5px;
}
.otzivPlus:hover, .battonLike:hover {
    background: rgb(53,59,74);
	color: rgb(123,133,152);
}
.bottonPanelBookInfo {
    float: right;
    margin: 49px 10px 10px 20px;
}
.commentText {
    margin-bottom: 15px;
}