body {
	margin: 0;
	background: rgb(53,59,74);
	font-family: Myriad Pro;
}
body, a {
    color: rgb(123,133,152);
}
a {
	text-decoration: blink;
}
#left-column {
	width: 240px;
	height: 100%;
	background: rgb(33,38,50);
	float: left;
	position: fixed;
    z-index: 99;
}
#main-column {
	position: absolute;
    *margin: 0 20px 0 250px;
	margin: 0 370px 0 250px;
    padding-bottom: 10px;
    left: 0;
    right: 0;
}
.logo {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	*background: rgb(150, 66, 51);
	background: rgb(140,40,22);
	padding: 5px 0 6px;
}
.logo>a {
	color: white;
    text-shadow: black 2px 2px 3px;
}
.search {
	width: 196px;
	height: 28px;
	background: rgb(123,133,152);
	margin: 20px;
	border: 1px solid rgb(11,17,32);
}
.searchIco {
	background-image: url(../images/icoLoupe.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
	float: right;
	margin: 3px;
}
.leftMenu {
	list-style-type: none;
    padding: 0;
    display: table;
    width: 100%;
}
.leftMenu>li>a {
	color: rgb(123,133,152);
	font-size: 13px;
	display: block;
	border: 5px solid rgb(33,38,50);
	border-width: 0 0 0 4px;
    /*float: left;
	
	/*transition: all .2s ease-in-out 0.1s;*/
}
.leftMenu>li>a:hover {
    border-color: rgb(123,133,152);	
	background: rgb(11,17,32);
}
.lmenu-button-name {
    padding: 8.5px 0 9.5px;
	display: inline-block;
}

/*delet*/
.battonImgMenu {
    margin: 8px 15px 8px 20px;
	float: left;
	width: 17px;
	height: 17px;
}
.battonImgMenu>img {
	width: 100%;
	height: 100%;
}
/*delet*/

.battonRead {
	width: 166px;
	height: 34px;
    background: rgb(11,17,32);
    margin: 30px auto;
}
.battonRead:hover {
	background: rgb(53,59,74);
}
.battonRead>a {
	color: rgb(123,133,152);
	display: block;
	height: 100%;
}
#bottonBlok {
	position: absolute;
	bottom: 0%;
	background: rgb(33,38,50);
}
.footerMenu {
	padding: 0 30px;
	text-align: center;
}
.footerMenu>a {
	color: rgb(123,133,152);
	font-size: 12px;
	display: inline-block;
}
.footerMenu>a:hover {
    text-decoration: underline;
}
.bottonLoginButton {
	margin: 31px 20px 0;
	padding: 20px 0;
	border: 1px solid rgb(11,17,32);
	border-width: 1px 0 0 0;
    display: flex;
}
.loginButton, .regisButton {
	width: 95px;
	height: 30px;
	background: rgb(11,17,32);
	text-align: center;
	float: left;
}
.loginButton {
	margin-right: 10px;
}
.loginButton>a, .regisButton>a {
	color: rgb(123,133,152);
	font-size: 13px;
	display: block;
	padding: 7px 0;
}
.loginButton:hover, .regisButton:hover {
	background: rgb(53,59,74);
}
.commentBlok {
    margin: 0 5px 10px 5px;
    font-size: 10px;
    position: relative;
}
.commentText {
    display: flex;
}
.commentMargin {
    margin-left: 8px;
}
.blokButtonRead>.commentBlok>.commentText>.commentMargin {
    font-size: 12px;
    margin: 8px;
}
.icoUsersShelf {
    width: 31px;
    height: 31px;
    float: left;
}
.icoUsersShelf>img {
    width: 100%;
    height: 100%;
}
.panelFunctions {
	display: block;
	margin-bottom: 15px;
	height: 29px;
    margin-left: 10px;
}
.panelText {
	font-size: 24px;
	color: rgb(123,133,152);
    margin: 0 10px;
	float: left;
    text-shadow: black 2px 2px 3px;
}
.panelBatton {
	position: relative;
	top: 6px;
	float: left;
}
.panelBatton>a {
	background: rgb(123,133,152);
	color: rgb(33,38,50);
	padding: 3px 10px 4px;
}
.panelBatton>a:hover {
	color: white;
	background: rgb(140,40,22);
}
.arrowLeft>div {
	background: url(/assets/images/icoArrowLeft.png), rgb(123,133,152);
}
.arrowRight>div {
	background: url(/assets/images/icoArrowRight.png), rgb(123,133,152);
}
.arrowLeft>div, .arrowRight>div {
	background-size: 100%;
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
    margin: 2.5px auto;
}
.arrowLeft, .arrowRight {
	height: 23px;
	width: 31px;
	background: rgb(123,133,152);
    margin-right: 2px;
}
.blokStars {
    /*margin-bottom: 15px;*/
    display: table;
    position: relative;
    overflow: hidden;
}
.icoStar {
	*background-image: url(../images/icoStar.png);
	background-image: url(../images/icoStarTest.png);
}
.raiting-book {
    background-color: rgb(123,133,152);
    width: 100%;
    height: 17px;
    position: absolute;
    z-index: 1;
}
.icoStarR {
	background-image: url(../images/icoStarR.png);
}
.icoStarZ {
	background-image: url(../images/icoStarZ.png);
}
.commentText>.icoStarR {
    margin: 5px;
}
.icoStar, .icoStarR, .icoStarZ, .icoStarDark {
	background-size: 100%;
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
    float: left;
    position: relative;
    z-index: 2;
}
.blokAdd {
    margin-top: 7px;
    display: table;
}
.blokAdd:hover .textAdd {
	text-decoration: underline;
}
.icoAdd {
    background-image: url(../images/icoAdd.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    float: left;
    margin-top: 6px;
}
.textAdd {
    font-size: 9px;
    float: right;
    color: rgb(123,133,152);
    width: 36px;
    padding-left: 3px;
}
.narratorsRaiting {
    margin: 7px 0;
    font-size: 12px;
}
.stoProcentImg {
    height: 100%;
}
.battonImgRead>img {
    width: 25px;
	height: 100%;
}
.battonTextRead {
	font-size: 12.2px;
}
.battonTextRead {
	font-size: 12.2px;
	float: right;
	padding: 8.4px 13px;
}
.battonImgRead {
	float: left;
	height: 100%;
}
/*closed*/
#left-column.closed {
    width: 50px;
}
#left-column.closed>.logo>a {
    width: 36px;
    display: flex;
    overflow: hidden;
    margin: 0 auto;
}
#left-column.closed>.search {
    width: 29px;
    margin: 20px 9px;
    transition: all .5s ease-in-out 0.1s;
    cursor: pointer;
}
#left-column.closed>.search:hover {
    width: 165px;
}
#left-column.closed>.leftMenu>li>a>.lmenu-button-name {
    display: none;
}
#left-column.closed>.leftMenu>li>a>.lmenu-button-ico {
    margin: 8px 0 8px 13px;
}
.leftMenu>li {
    float: left;
    width: 100%;
}
#left-column.closed>.leftMenu>li>a:hover>.lmenu-button-name {
	display: inline-block;
}
#left-column.closed>.leftMenu>li>a:hover {
    width: 165px;
    text-align: center;
}
#left-column.closed>.leftMenu {
    width: 50px;
    display: block;
}
#left-column.closed>.battonRead {
    float: left;
    width: 25px;
    margin: 30px 12.5px;
    overflow: hidden;
}
#left-column.closed>.battonRead {
	transition: all .5s ease-in-out 0.1s;
}
#left-column.closed>.battonRead:hover {
    width: 166px;
    background: rgb(11,17,32);
}
#left-column.closed>#bottonBlok {
    display: none;
}
#main-column.litl-column {
    margin-left: 60px;
}
.footer-back {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.box_hide {
    display: none;
}
.footer-window-litl>a {
    color: rgb(123,133,152);
    font-size: 12px;
    display: inline-block;
}
.footer-window-litl {
    position: fixed;
    bottom: 50px;
    left: 60px;
    padding: 25px;
    width: 190px;
    background: rgb(33,38,50);
    text-align: center;
    z-index: 101;
}
/*closed*/
.left-button-closed {
    position: fixed;
}
.left-button-closed>span {
    margin: 6px -2px;
    float: left;
    width: 5px;
    height: 12px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../images/icoHid.png);
	cursor: pointer;
}
.left-closed>span {
    background-image: url(../images/icoShow.png)!important;
}
.button-login-min-menu {
    width: 30px;
    height: 30px;
    background-color: rgb(11,17,32);
    position: absolute;
    bottom: 20px;
    margin: 0px 10px;
}
.button-login-min-menu, .button-other-min-menu {
	display: none;
}
#left-column.closed>.button-login-min-menu, #left-column.closed>.button-other-min-menu {
    display: block;
}
.button-login-min-menu:hover, .button-other-min-menu:hover {
	background-color: rgb(53,59,74);
}
.button-login-min-menu>span {
    margin: 6px 7px 7px 7px;
    float: left;
    width: 16px;
    height: 16px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/icoAva.png);
}
.button-other-min-menu {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 60px;
    margin: 0px 10px;
    cursor: pointer;
}
.button-other-min-menu>span {
	margin: 6px 5.5px 7px 5.5px;
    float: left;
    width: 19px;
    height: 19px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/icoOther.png);
}
.lmenu-button-ico {
    margin: 8px 15px 8px 20px;
	float: left;
	width: 17px;
	height: 17px;
	background-size: 100%;
	background-repeat: no-repeat;
}
.lm-but-icoBook {
	background-image: url(../images/icoBook.png);
}
.lm-but-icoShelf {
	background-image: url(../images/icoShelf.png);
}
.lm-but-icoGenres {
	background-image: url(../images/icoGenres.png);
}
.lm-but-icoFree {
	background-image: url(../images/icoFree.png);
}
.lm-but-icoAutor {
	*background-image: url(../images/icoAutor.png);
	background-image: url(../images/ico.svgz);
}
.lm-but-icoBooks {
	background-image: url(../images/icoBooks.png);
}

#rigth-column {
    position: fixed;
    width: 340px;
    height: 100%;
    background: rgb(33,38,50);
    right: 0;
}